%h2.text-center.mt-4
  Listing all articles:

= will_paginate(@articles,
  class: 'container flickr_pagination text-center',
  inner_window: 1,
  outer_window: 0,
  previous_label: '<',
  next_label: '>')

= render 'article'

= will_paginate(@articles,
  class: 'container flickr_pagination text-center mb-4',
  inner_window: 1,
  outer_window: 0,
  previous_label: '<',
  next_label: '>')
