%div.container{ id: "home-container" }
  %div.jumbotron.text-center.text-white
    %h1.display-4
      Alpha Blog
    %p.lead
      Top
    %hr.my-4
    %p
      It lklksalkdlas
    %a.btn.btn-success.btn-lg{ href: "#", role: "button" }
      Sign up!
