%div.container{ id: "home-container" }
  %div.jumbotron.text-center.text-white
    %h1.display-4
      ALPHA BLOG
    %p.lead
      Blog application template.
    %hr.my-4
    %p
      To get full access signup is needed.
    = link_to 'Sign up!', signup_path, class: "btn btn-success btn-lg"
