%h2.text-center.mt-4
  Edit category name:
%div.container
  %div.row.justify-content-center
    %div.col-sm-10
      = render 'form'

    %div.mb-3
      = link_to '[ Cancel and return to category ]', category_path(@category), class: "text-info"
