%h2.text-center.mt-4
  Create a new category:
%div.container
  %div.row.justify-content-center
    %div.col-sm-10
      = render 'form'

    %div.mb-3
      = link_to '[ Cancel and return to categories listing ]', categories_path, class: "text-info"
